*{
    margin:0;
    padding:0;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../img/avatars/background.jpg) ;
}
.navbar{
   width: 85%;
   margin: auto;
   padding: 35px 0; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
    width: 180px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #808080;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 500;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #808080;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.footer{
    width: 60%;
    margin: auto;
    padding: 25px 0; 
    display: flex;
    align-items:center;
    justify-content: space-between;
    position:absolute;
    bottom: 0;
    left: 22%;
 }
 .card{
    flex-direction: row;
    display: flex;
    border-radius:60px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    width: 50%;
    height: 60%;
    margin: auto;
    overflow: hidden;
}
.imagem{
    width: 45%;
    height: 100%;
    background-color:#b8b8b8;
}
.content{
    width: 55%;
    height:100%;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
 .card-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
}

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  .logo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-top: 52%;
    opacity:95%;
  }
  .circle {
    position:absolute;  
    display:block;
    width: 35%;
    padding-top: 20%;
    left: 35px;
    bottom: 105px;
  }
  .objectivs{
    color: #1982C4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    text-align: center;
    font-family: sans-serif;
  }
  .text{
      font-size:18px;
      margin-left: 20px ;
      margin-right: 20px;
      font-family: sans-serif;
      margin-top: 25px;
      color: #808080;
  }
  h1 {
      font-size: 28px;
  }
  .team{
    color: #1982C4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    font-family: sans-serif;
    position: absolute;
    z-index: 2;
    background-color: #EFEFEF;
    transition: all ease-in-out 1s;

 }

.content ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content ul>img{
    max-width: 17%;
    margin: 15px 10px;
    flex: 1;
}
.img2 {
    width: 48px;
    height: 48px;
}
.arrow{
    margin: auto;
}

 