*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(../img/avatars/background.jpg) ;
}
.navbar{
   width: 85%;
   margin: auto;
   padding: 35px 0; 
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo{
    width: 15%;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #808080;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #808080;
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.footer{
    width: 60%;
    margin: auto;
    padding: 25px 0; 
    display: flex;
    align-items:center;
    justify-content: space-between;
    position:absolute;
    bottom: 0;
    left: 22%;
 }
 .card{
    flex-direction: row;
    display: flex;
    border-radius:60px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
        0 10px 10px rgba(0,0,0,0.22);
    width: 50%;
    height: 60%;
    margin: auto;
    overflow: hidden;
}
.imagem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
    background-color:#b8b8b8;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    height:100%;
    background-color: #EFEFEF;
}
.card-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both ;
}

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

.logo2 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.circle {
  display:block;
  width: 60%;
  margin: auto;
}
.callus {
  color: #1982C4;
  display: block;

}
.email {
  color: #707070;
  display: block;
 

}
.content div{
  display: flex;
  flex-direction: row;
}
.facebook {
  display: block;
  
}
.insta {
  display: block;
 

}
.linkedin {
  display: block;

}  
.drawer{
  display: none;
}
@media only screen and (max-width: 768px) {
  .card{
    flex-direction: column;
  }
  .imagem{
    width: 100%;
    height: 50%;
  }
  .content{
    width: 100%;
    height: 50%;
  }
  .logo2{
    width: 50%;
  }
  .logo{
    width: 30%;
  }
  .navbarList{
    display: none;
  }
  .drawer{
    display:inherit;
    color: red;
    height: 100px;
    width:100px;
  }
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}